body
{
	margin: 0px;
	background-color: #eeeeee;
	overflow: hidden;
}

.title
{
	text-align: center;
	text-shadow: 1px 1px #888888;
	color: #b1d4e2;
	margin: 2px;
}

#maintitle
{
}

#subtitle
{
	font-size: 75%;
}

#sample-list, #sample-list-button
{
	float: right;
	width: 20%;
	max-width: 15em;
}

#editors
{
	width: 90%;
	text-align: left;
	margin: 0 auto; /* centered */
}

#editor-tabs
{
	margin: 0;
	padding: 2px 2px 4px 2px;
}

#editor
{
	width: 100%;
}


/* CodeMirror trailing whitespaces */
.cm-trailingspace {
	background-color: red;
/*    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
    background-position: bottom left;
    background-repeat: repeat-x;*/
}