body
{
	margin: 0px;
	background-color: #eeeeee;
	overflow: hidden;
}

#banner
{
	text-align: left;
	background-color: #cccccc;
	border-bottom: 2px solid #888888;
	padding: 6px;
}

#banner h1
{
	font-family: Helvetica, sans-serif;
	font-size: 1.5em;
	font-weight: 200;
	margin: 0px 15px;
}


#sample-list
{
	float: left;
	overflow: hidden; /* Do not allow long file names to overflow */
	width: 13%;
	border: 1px;
	padding: 2px;
	margin: 5px;
}

#editors
{
	overflow: auto;
	min-height: 600px;
	text-align: left;
	margin: 5px;
}

textarea
{
	display: none;
}

#editor-tabs
{
	height: 100%;
	margin: 0;
	padding: 2px 2px 4px 2px;
}

#editor
{
	width: 100%;
	height: 100%;
}

.ui-icon-close
{
	position: absolute;
	right: 0px;
}

.ui-tabs .ui-tabs-panel
{
	resize: vertical;
	padding: 5px;
}

.ui-tooltip
{
	opacity: 0.8;
	display: inline-block;
	border-radius: 6px;
	padding: 2px;
	margin: 2px;
}

.CodeMirror {
	min-height: 600px;
}
